<aside class="sidebar">
  <div class="widget subscribe-widget">
    <h3>Subscribe</h3>
    <ul class="subscribe-links">
      <li><a href="{{ site.apple_podcasts }}" target="_blank" rel="noopener">Apple Podcasts</a></li>
      <li><a href="{{ site.spotify }}" target="_blank" rel="noopener">Spotify</a></li>
      <li><a href="{{ site.stitcher }}" target="_blank" rel="noopener">Stitcher</a></li>
    </ul>
  </div>

  <div class="widget social-widget">
    <h3>Follow</h3>
    <ul class="social-links">
      <li><a href="{{ site.twitter }}" target="_blank" rel="noopener">Twitter</a></li>
      <li><a href="{{ site.facebook }}" target="_blank" rel="noopener">Facebook</a></li>
      <li><a href="{{ site.youtube }}" target="_blank" rel="noopener">YouTube</a></li>
      <li><a href="{{ site.instagram }}" target="_blank" rel="noopener">Instagram</a></li>
      <li><a href="{{ site.reddit }}" target="_blank" rel="noopener">Reddit</a></li>
    </ul>
  </div>

  <div class="widget patreon-widget">
    <h3>Support</h3>
    <a href="{{ site.patreon }}" target="_blank" rel="noopener" class="patreon-link">Support on Patreon</a>
  </div>
</aside>
