---
layout: default
---
<div class="episodes-list">
  {% for post in paginator.posts %}
  <article class="post-summary">
    <header>
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <div class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      </div>
    </header>
    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">&laquo; Newer</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="current-page">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}" class="next">Older &raquo;</a>
  {% endif %}
</nav>
{% endif %}
